<section class="footer">
  <div class="user">
    <ion-icon size="large" src="../assets/svg/person-add-outline.svg" class="profile-item profile-item1"></ion-icon>
    <span class="user-name">noelmarie</span>
    <button class="button-follow">follow</button>
  </div>
  <div class="description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nisi asperiores, blanditiis corrupti beatae eos ut recusandae? Quaerat veritatis praesentium voluptates adipisci dicta, dolor error pariatur, animi, laborum perferendis iure?
    </p>
  </div>
  <div class="sound-profile">
    <div class="sound">
      <ion-icon size="small" src="../assets/svg/musical-note.svg"></ion-icon>
      <span class="soundname">sound name</span>
    </div>
    <div class="profile">
      <ion-icon size="large" src="../assets/svg/person-add-outline.svg" class="profile-item profile-item2"></ion-icon>
    </div>
  </div>
</section>